body {
    background-color: rgb(23, 89, 111);      
}

#gif {
    width: 70%;
    height: 78%;
    border: none;
    margin: 0; /* Reset margins */
    margin-top: 5px; /* Adjust top margin as needed */
    margin-left: 0; /* Position the image fully on the left side */
    transition: transform 0.3s ease-in-out; /* Add a smooth transition effect */
    transition: opacity 0.3s ease-in-out;
}

#gif:hover {
    transform: scale(1.1); /* Increase the size of the image on hover */
    opacity: 0.8;
}
